<html>
    <head>
        <meta charset='utf-8' />
        <title>랜덤채팅</title>
        <link href='css/styles.css' rel='stylesheet' />
    </head>
    <body>
        {{message}}
        <script src='js/scripts.js'></script>
    </body>
</html>