<html>
    <head>
        <meta charset='utf-8' />
        <title>랜덤채팅</title>
        <link href='css/styles.css' rel='stylesheet' />
    </head>
    <body>
        <div id='banner'></div>
        <div id='chat_box'></div>
        <form id='chat_form'>
            <input placeholder='채팅을 입력하세요...' />
            <button type='submit'>Chat</button>
        </form>
 
        <script
            src='https://cdn.socket.io/3.1.3/socket.io.min.js'
            integrity='sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh'
            crossorigin='anonymous'
        ></script>
        <script src='js/scripts.js'></script>
    </body>
</html>